<div class="page-content p3 toggled">
	<div class="container-fluid p-4">
		<section class="activity-line">
			<article class="activity-line-item box-typical">
				<div *ngFor="let activity of activities">
					<div class="activity-line-action-list">
						<section class="activity-line-action">
							<div class="time"><img src="{{activity.avatar_path}}{{activity.avatar_photo}}" alt=""
									style="width: 52px; height: 52px;"></div>
							<div class="cont">
								<div class="cont-in">
									<ul class="meta">
										<li><a href="#">{{ activity.firstName }}&nbsp;{{ activity.lastName }}</a></li>
										<li><a href="#">{{ activity.createdDate | dateActivity }}</a></li>
									</ul>
									<div *ngIf="activity.proposal_title">{{ activity.message }}&nbsp;{{ activity.proposal_title }}</div>
									<div *ngIf="activity.group_name">{{ activity.message }}&nbsp;{{ activity.group_name }}&nbsp;with <div
											*ngFor="let member of activity.group_members">{{ member.whole_name}}</div>
									</div>
								</div>
							</div>
						</section>
						<hr style="margin: 0px;">
					</div>
				</div>
			</article>
			<!--.activity-line-item-->
		</section>
	</div> <!-- page content -->
</div><!-- container fluid -->