<div class="page-content p3 toggled">
	<header class="page-content-header">
		<div class="container-fluid">
			<div class="tbl">
				<div class="tbl-row">
					<div class="tbl-cell" *ngIf="ifRoleCommittee">
						<h3>Students <small class="text-muted"> Total: {{ users?.length }} candidates</small></h3>
					</div>
					<div class="tbl-cell" *ngIf="ifRoleStudent">
						<h3>Students <small class="text-muted"> Total: {{ classmates?.length }} candidates</small></h3>
					</div>
					<div class="tbl-cell tbl-cell-action" *ngIf="ifRoleCommittee">
						<a href="#" class="btn btn-rounded" data-toggle="modal" data-target="#modalAddStudent">Add member</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!--.page-content-header-->
	<div class="container-fluid p-4">

		<!-- Student Profile -->
		<div class="input-group mb-3" *ngIf="ifRoleCommittee">
			<div class="input-group-prepend">
				<label class="input-group-text" for="studentSection">Year And Section</label>
			</div>
			<select class="custom-select" id="studentSection" [(ngModel)]="studentSection">
				<option *ngFor="let section of section_list" value="{{section.year}},{{section.section}}">
					{{ section.year }}-{{ section.section }}</option>
			</select>
		</div>

		<div class="row card-user-grid" style="padding-left: 15px;" *ngIf="ifRoleCommittee">
			<div style="width: 150px; padding-right: 15px;" *ngFor="let user of users | sectionFilter: studentSection">
				<article class="card-user box-typical">
					<div class="card-user-action float-right">
						<div class="dropdown dropdown-user-menu">
							<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="glyphicon glyphicon-option-vertical"></span>
							</button>
						</div>
					</div>
					<div class="card-user-photo">
						<img *ngIf="user.avatar_path" src="{{ user.avatar_path }}{{ user.avatar_photo }}" alt="">
						<img *ngIf="!user.avatar_path" src="assets/img/Avatars/unknown_avatar.png" alt="">
					</div>
					<div class="card-user-name">{{ user.firstName}} <br> {{ user.lastName}}</div>
					<div class="card-user-status">Section: {{ user.year }} - {{ user.section }}</div>
				</article><!-- .card-user -->
			</div><!-- Student Profile -->
		</div> <!-- .card-user-grid -->

		<div class="row card-user-grid" style="padding-left: 15px;" *ngIf="ifRoleStudent">
			<div style="width: 150px; padding-right: 15px;" *ngFor="let user of classmates ">
				<article class="card-user box-typical">
					<div class="card-user-photo">
						<img *ngIf="user.avatar_path" src="{{ user.avatar_path }}{{ user.avatar_photo }}" alt="">
						<img *ngIf="!user.avatar_path" src="assets/img/Avatars/unknown_avatar.png" alt="">
					</div>
					<div class="card-user-name">{{ user.firstName}} <br> {{ user.lastName}}</div>
					<div class="card-user-status">Section: {{ user.year }} - {{ user.section }}</div>
				</article><!-- .card-user -->
			</div><!-- Student Profile -->
		</div> <!-- .card-user-grid -->

	</div>
</div>

<!-- modal -->

<div class="modal fade" id="modalAddStudent" tabindex="-1" role="dialog" aria-labelledby="AddStudent"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="AddStudent">Add panel</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div class="modal-upload-body scrollable-block">
					<div class="uploading-container">
						<div class="uploading-container-left">
							<div class="drop-zone">

								<i class="font-icon font-icon-cloud-upload-2"></i>
								<div class="drop-zone-caption">Upload File</div>
								<span class="btn btn-rounded btn-file">
									<span>Choose file</span>
									<input type="file" name="files" accept="application/xlsx" ng2FileSelect [uploader]="uploadFile" (change)="onFileChange($event);">
								</span>

							</div>
						</div>
						<!--.uploading-container-left-->
						<div class="uploading-container-right">
							<div class="uploading-container-right-in">
								<h6 class="uploading-list-title">Upload</h6>
								<ul class="uploading-list">

									<li class="uploading-list-item" *ngIf="fileToUpload">
										<div class="uploading-list-item-wrapper">
											<div class="uploading-list-item-name">
												<i class="font-icon font-icon-page"></i>
												{{ fileName }}
											</div>
											<div class="uploading-list-item-size">{{ fileSize }}</div>
											<button type="button" class="uploading-list-item-close">
												<i class="font-icon-close-2"></i>
											</button>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- .uploading-container -->
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-success" (click)="Upload()">Upload</button>
			</div>
		</div>
	</div>
</div> 