<div class="page-content p3 toggled">
	<div class="container-fluid p-4">

		<section class="card box-typical-full-height">
			<div class="card-block">
				<h5 class="with-border m-t-0">Design Project: Group - {{ group_name }} {{ year }}-{{ section }}</h5>
				<div class="row">
					<div class="col">
						<div class="alert alert-secondary" role="alert">
							Group Type is: {{ group_type }}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<table id="table-edit" class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>Name</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let members of group_members">
									<td>{{ members.whole_name }}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col">
						<table id="table-edit" class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>Panelist</th>
									<th>Name</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>panel 1</th>
									<td>{{ panel1 }}</td>
								</tr>
								<tr>
									<th>panel 2</th>
									<td>{{ panel2 }}</td>
								</tr>
								<tr>
									<th>panel 3</th>
									<td>{{ panel3 }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>

	</div>
</div>