<div class="page-content p3 toggled">
	<div class="container-fluid p-4">
		<div class="container-fluid">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item" aria-current="page" (click)="homeClick()"><a class="myClickableThing" style="color: #0082c6;">Home</a></li>
					<li class="breadcrumb-item" *ngFor="let name of folder_names" (click)="beadcrumbClick( name )"><a class="myClickableThing" style="color: #0082c6;">{{ name }}</a></li>
				</ol>
			</nav>

			<section class="box-typical files-manager">
				<div class="files-manager-side" style="height: 90vh;">
					<header class="files-manager-side-title">My files</header>
				</div><!--.files-manager-side-->

				<div class="files-manager-panel">
					<div class="files-manager-panel-in">
						<!--.files-manager-header-->

						<div class="files-manager-content">
							<div class="files-manager-content-in scrollable-block">
								<div class="fm-file-grid" style="height: 100%">

									<div class="fm-file" *ngFor="let folder of folders" (click)="folderClick( folder.folder_name )">
										<div class="fm-file-icon">
											<img src="../assets/components/build/img/folder.png" alt="">
										</div>
										<div class="fm-file-name">{{ folder.folder_name }}</div>
									</div>

									<div class="fm-file" *ngFor="let file of folder_files" (click)="fileClick(file.file_path, file.file_name)">
										<div class="fm-file-icon">
											<img src="../assets/components/build/img/file.png" alt="">
										</div>
										<div class="fm-file-name">{{ file.file_name }}</div>
									</div>

								</div>
							</div><!--.files-manager-content-in-->
						</div><!--.files-manager-content-->
						<!--.files-manager-aside-->
					</div><!--.files-manager-panel-in-->
				</div><!--.files-manager-panels-->
			</section><!--.files-manager-->
		</div><!--.container-fluid-->

	</div>
</div>