<div class="page-content toggled">
    <!-- IMPORTANT -->
    <!-- IMPORTANT -->

    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-sm-6">
                        <article class="statistic-box red">
                            <div>
                                <div class="number"> {{ countProposals }}</div>
                                <div class="caption">
                                    <div>Total Proposals</div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!--.col-->
                    <div class="col-sm-6">
                        <article class="statistic-box purple">
                            <div>
                                <div class="number">{{ countGroups }}</div>
                                <div class="caption">
                                    <div>Total Groups</div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!--.col-->
                </div>
                <!--.row-->
            </div>
            <!--.col-->
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-sm-6">
                        <article class="statistic-box red">
                            <div>
                                <div class="number">{{ countonlineStudents }}</div>
                                <div class="caption">
                                    <div>Students Online</div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!--.col-->
                    <div class="col-sm-6">
                        <article class="statistic-box purple">
                            <div>
                                <div class="number">{{ countStudents }}</div>
                                <div class="caption">
                                    <div>Total Students Enrolled</div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!--.col-->
                </div>
                <!--.row-->
            </div>
            <!--.col-->
        </div>
        <!--.row-->

        <div class="row">
            <div class="col-xl-6 dahsboard-column">
                <section class="box-typical box-typical-dashboard panel panel-default ">
                    <header class="box-typical-header panel-heading" style="padding: 10px 12px;">
                        <div class="row">
                            <div class="col-4" style="height: 35px;">
                                <h3 class="panel-title" style="padding-top: 8px; padding-left: 8px;">Proposals</h3>
                            </div>
                        </div>
                    </header>
                    <div class="box-typical-body panel-body">
                        <table class="tbl-typical">
                            <tr>
                                <th>
                                    <div>Section</div>
                                </th>
                                <th>
                                    <div>Proposals</div>
                                </th>
                                <th>
                                    <div align="center">Action</div>
                                </th>
                            </tr>
                            <tr>
                                <td>5-1</td>
                                <td>{{ countPYS51 }}</td>
                                <td align="center"><button type="button" class="btn btn-rounded btn-info">View</button></td>
                            </tr>
                            <tr>
                                <td>5-2</td>
                                <td>{{ countPYS52 }}</td>
                                <td align="center"><button type="button" class="btn btn-rounded btn-info">View</button></td>
                            </tr>
                        </table>
                    </div>
                    <!--.box-typical-body-->
                </section>
                <!--.box-typical-dashboard-->
                <section class="box-typical box-typical-dashboard panel panel-default ">
                    <header class="box-typical-header panel-heading" style="padding: 10px 12px;">
                        <div class="row">
                            <div class="col-4" style="height: 35px;">
                                <h3 class="panel-title" style="padding-top: 8px; padding-left: 8px;">Students</h3>
                            </div>
                        </div>
                    </header>
                    <div class="box-typical-body panel-body">
                        <table class="tbl-typical">
                            <tr>
                                <th>
                                    <div>Section</div>
                                </th>
                                <th>
                                    <div>Students</div>
                                </th>
                                <th>
                                    <div>Action</div>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    5-1
                                </td>
                                <td>{{ countSYS51 }}</td>
                                <td align="center"><button type="button" class="btn btn-rounded btn-info">View</button></td>
                            </tr>
                            <tr>
                                <td>
                                    5-2
                                </td>
                                <td>{{ countSYS52 }}</td>
                                <td align="center"><button type="button" class="btn btn-rounded btn-info">View</button></td>
                            </tr>
                        </table>
                    </div>
                    <!--.box-typical-body-->
                </section>
            </div>
            <!--.col-->
            <div class="col-xl-6 dahsboard-column">
                <section class="box-typical box-typical-dashboard panel panel-default ">
                    <header class="box-typical-header panel-heading" style="padding: 10px 12px;">
                        <div class="row">
                            <div class="col-4" style="height: 35px;">
                                <h3 class="panel-title" style="padding-top: 8px; padding-left: 8px;">Groups</h3>
                            </div>
                        </div>
                    </header>
                    <div class="box-typical-body panel-body">
                        <table class="tbl-typical">
                            <tr>
                                <th>
                                    <div>Section</div>
                                </th>
                                <th>
                                    <div>Groups</div>
                                </th>
                                <th>
                                    <div>Action</div>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    5-1
                                </td>
                                <td>{{ countGYS51 }}</td>
                                <td align="center"><button type="button" class="btn btn-rounded btn-info">View</button></td>
                            </tr>
                            <tr>
                                <td>
                                    5-2
                                </td>
                                <td>{{ countGYS52 }}</td>
                                <td align="center"><button type="button" class="btn btn-rounded btn-info">View</button></td>
                            </tr>
                        </table>
                    </div>
                    <!--.box-typical-body-->
                </section>
                <!--.box-typical-dashboard-->
                <section class="box-typical box-typical-dashboard panel panel-default ">
                    <header class="box-typical-header panel-heading" style="padding: 10px 12px;">
                        <div class="row">
                            <div class="col-4" style="height: 35px;">
                                <h3 class="panel-title" style="padding-top: 8px; padding-left: 8px;">Online</h3>
                            </div>
                        </div>
                    </header>
                    <div class="box-typical-body panel-body">
                        <div class="contact-row-list">
                            <article class="contact-row" *ngFor="let student of onlineStudents">
                                <div class="user-card-row">
                                    <div class="tbl-row">
                                        <div class="tbl-cell tbl-cell-photo">
                                            <a href="#">
                                                <img src="assets/components/build/img/photo-64-2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="tbl-cell">
                                            <p class="user-card-row-name"><a href="#">{{ student.whole_name }}</a></p>
                                            <p class="user-card-row-mail"><a href="#">Year and Section {{ student.year}}-{{ student.section }}</a></p>
                                        </div>
                                        <div class="tbl-cell tbl-cell-status">Group: {{ student.group_proposal_id }}</div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <!--.box-typical-body-->
                </section>
                <!--.box-typical-dashboard-->
            </div>
            <!--.col-->
        </div>
    </div>
    <!--.container-fluid-->
    <!--.page-content-->
</div>